.bot-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 30px;
  padding: 20px 0;

  &__infos {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    width: 300px;
    box-sizing: border-box;

    &__title {
      font-family: 'Arial';
      margin: 0;
    }

    &__user {
      font-family: 'Arial';
      margin: 10px 0;
      padding-left: 5px;
    }
  }

  &__invites {
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    gap: 10px;
    width: 300px;
    box-sizing: border-box;

    &__title {
      font-family: 'Arial';
      margin: 0;
      padding-left: 5px;
    }

    &__invite {
      flex-direction: column;
      align-items: flex-start !important;
      gap: 5px;
      overflow: hidden;
      padding: 8px 5px !important;

      &:not(:last-child) {
        margin-bottom: 10px;
        border-bottom: 1px solid gray;
      }

      &__name {
        font-family: 'Arial';
        font-size: 14px;
        color: black;
        margin: 0;
        white-space: nowrap;
      }

      &__date {
        font-family: 'Arial';
        font-size: 12px;
        color: gray;
        margin: 0;
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;

        &__accept {
          width: 100%;
        }

        &__refuse {
          width: 100%;
        }
      }
    }

    &__empty {
      font-family: 'Arial';
      margin: 10px 0;
      padding-left: 5px;
    }
  }

  &__hikes {
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    gap: 10px;
    width: 300px;
    box-sizing: border-box;

    &__title {
      font-family: 'Arial';
      margin: 0;
      padding-left: 5px;
    }

    &__hike {
      flex-direction: column;
      align-items: flex-start !important;
      gap: 5px;
      padding: 8px 5px !important;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 10px;
        border-bottom: 1px solid gray;
      }

      &__name {
        font-family: 'Arial';
        font-size: 14px;
        color: black;
        margin: 0;
        white-space: nowrap;
      }

      &__date {
        font-family: 'Arial';
        font-size: 12px;
        color: gray;
        margin: 0;
      }

      &__buttons {
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;

        &__select {
          width: 100%;
        }

        &__remove {
          width: 100%;
        }
      }
    }

    &__empty {
      font-family: 'Arial';
      margin: 10px 0;
      padding-left: 5px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    width: 300px;
    box-sizing: border-box;

    &__title {
      font-family: 'Arial';
      margin: 0;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 5px;
      width: 100%;

      &__start {
        width: 100%;
      }

      &__end {
        width: 100%;
      }

      &__refresh {
        width: 100%;
      }
    }

    &__speed-title {
      font-family: 'Arial';
      margin: 10px 0 0 0;
    }

    &__slider {
      width: auto !important;
      margin: 0 30px;

      & .MuiSlider-markLabel {
        font-size: 12px !important;
      }
    }

    &__laps-title {
      font-family: 'Arial';
      margin: 10px 0;
    }

    &__laps {
      display: flex;
      flex-direction: row;
      gap: 20px;

      &__input {
        & .Mui-error {
          margin-left: auto !important;
          margin-right: 0 !important;
        }
      }
    }
  }

  &__logout {
    width: 300px;
  }
}
