html {
  scroll-behavior: smooth;
  text-size-adjust: none;
}

.nav-dot-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav-dot {
  outline: none;
  border: none;
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  margin: 0 16px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.presentation {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 80%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.timeline {
  overflow-y: auto;
  height: 40em;
}

.cover-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.container_ai {
  display: flex;
  gap: 100px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.titre {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.text {
  text-align: justify;
  overflow-wrap: break-word;
}
