html {
  scroll-behavior: smooth;
  text-size-adjust: none;
}

.nav-dot-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.nav-dot {
  outline: none;
  border: none;
  width: 12px;
  height: 12px;
  background: rgba(170, 170, 170, 0.7);
  border-radius: 50%;
  margin: 0 16px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: background 100ms ease-out 100ms
}

.nav-dot:hover {
  background: rgba(200, 200, 200, 0.7);
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.presentation {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 80%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.timeline {
  overflow-y: auto;
  height: 40em;
}

.cover-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.container_ai {
  display: flex;
  gap: 100px;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.text {
  text-align: justify;
  overflow-wrap: break-word;
}
